body,html {
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
  margin: 20px;
}

.left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.right{
  display:flex;
  justify-content: right;
  align-items: center;
}