.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div5 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
}

.div7 {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
}

.div8 {
  grid-column: span 4 / span 4;
  grid-row-start: 6;
}
